#banner-wrapper{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#banner-bg{
    background-image: url(img/bg.jpg);
    height: 100vh;
    width: 100%;
    opacity: 0.8;
    position: absolute;
    z-index: -2;
    opacity: 0.77;
}
#banner-overlay{
    background-color: rgba(96, 94, 100, 0.5);
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
}
#banner{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.95rem;
    width: 60%;
    margin: 10vh 20% 0 20%;
    color: white;
    overflow: hidden;
    position: absolute;
}
#logo-div{
    display: flex;
    align-items: center;
}
#logo{
    width: 40px;
    height: auto;
}
nav{
    display: flex;
    list-style: none;
    width: 35%;
    justify-content: space-evenly;
    overflow: hidden;
}
#title-div{
    position: absolute;
    margin-top: 35vh;
    text-align: center;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}
#title{
    color: white;
    font-weight: 900;
    font-size: 5.625rem;
    letter-spacing: 0.15em;
}
